html, body {
  height: 100%;
}

body{
  font-family: $font-primary !important;
  color: $text !important;
    display: flex;
  flex-direction: column;
}
main{
    flex: 1 0 auto;
 background-image: radial-gradient(circle, $white, $light-grey);
}
.footer {
  flex-shrink: 0;
}

h1{
  font-family: $font-headings;
  color: $pink;
}

@media (max-width: 414px) {

}
.container{
  max-width: 90%;
  margin: 0 auto;
}

