$font-primary: 'Lato', sans-serif;
$font-headings: 'Playfair Display', serif;

  $pink: #e92569;
  $headings: #0a0a0a;
  $light-grey: #e5e5e5;
  $text: #767676;
  $form: #efefef;
  $white: #ffffff;
  $form-input: #C7C7C7;

